<!DOCTYPE html>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>WebStar</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/css/default.css" rel="stylesheet" type="text/css" />
<link href="/css/fonts.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="header-wrapper">
  <div id="header" class="container">
    <div id="logo">
      <h1><a href="/">WEB STAR</a></h1>
</div> 
    <div id="menu">
      <ul>
        {% for post in collections.posts %}
		  <li{% if page.url == post.url %} class="current_page_item"{% endif %}><a href="{{ post.url }}">{{ post.data.pageTitle }}</a></li>
	    {% endfor %}
      </ul>
    </div>
  </div>
</div>
<div id="header-featured"> </div>
 {{ content }}
<div id="copyright" class="container">
  <p>&copy; Max Kmet corporation </p>
</div>
</body>
</html>
